
.pricing-plan {
    padding: 100px 0 100px;
    max-width: 100%;
    position: relative;
}
.pricing-padding {
    padding: 60px 0;
}
.pricing-plan .pricing-plan-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.pricing-plan-col {
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 40px #f3f3f3;
    transition: all .5s ease;
}
.pricing-rate {
    background: #e3e9ef47 url(../images/pricing_one-single-bg.png) no-repeat center center / cover;
    background-blend-mode: overlay;
    width: 100%;
    display: block;
    position: relative;
    transition: all .5s ease;
}
.pricing-plan-col:hover .pricing-rate {
    background: #ff1010 url(../images/pricing_one-single-bg.png) no-repeat center center / cover;
}
.pricing-plan-col:hover .pricing-rate p, .pricing-plan-col:hover .pricing-rate h2 {
    color: #fff;
}
.pricing-rate p {
    font-size: 1.125em;
}
.pricing-rate h2 {
    font-weight: 500;
    font-size: 2.75em;
}
.pricing-details p {
    margin-bottom: 20px;
}
.pricing-details p span {
    font-size: 1.125em;
}
.pricing-details p:last-child {
    margin-bottom: 0;
}
.pricing-details i {
    color: #FC3C3C;
    padding-right: 5px;
}
.pricing-separator {
    height: 1px;
    width: 80%;
    background: #f1f1f1;
    margin: 0 35px 20px;
}
.pricing-plan .pricing-btn .default-btn {
    padding: 20px 40px;
    font-size: 1em;
    background: #11161F;
}
.pricing-plan-col:nth-child(2) .pricing-btn .default-btn {
    background: #FC4545;
}
.pricing-plan .pricing-btn .default-btn:hover {
    background: #FC4545 !important;
    color: #fff !important;
}
.pricing-plan .pricing-btn p {
    margin-top: 35px;
    letter-spacing: 0.2em;
    font-size: 12px;
}

/*FAQ*/
.faq {
    position: relative;
    padding: 100px 0;
    background: url(../images/blog/blog-1-bg.jpg) top center / auto no-repeat;
    height: 717px;
    max-width: 100%;
    overflow: hidden;
}
.faq .faq-cols {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}
.faq .faq-details-block {
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    height: fit-content;
}
.faq-details {
    border-bottom: 1px solid #f2f3f7;
    padding: 25px 0;
}
.faq-details:first-child {
    padding: 0 0 25px;
}
.faq-details:last-child {
    border: none;
    padding: 20px 0 0;
}
.faq-accrodion-title {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.faq .faq-accrodion-title h4 {
    text-align: left;
    font-size: 1.125em;
}
.faq-accrodion-title i {
    color: #828892;
    font-size: 14px;
    margin-top: 5px;
}
.faq-active-color {
    color: #FC1F1F !important;
}
.faq-details p {
    margin: 20px 0 5px;
    line-height: 1.8;
    font-size: 1.125em;
}


/*---Responsive---*/
.faq {
    height: auto;
}